.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__picker {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1rem;
  }

  &__color {
    width: 50px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__select {
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  &__palette {
    display: flex;
    width: 100%;
    flex: 1;
    margin-top: 1rem;
  }

  &__colorBox {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    cursor: copy;
    transition: 0.3s;
    &:hover{
      border-color: #000;
    }
    span{
      font-size: 20px;
      @media screen and (max-width: 768px){
        font-size: 14px;
      }
    };
  }
}


.blockBtn{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
  @media screen and (max-width: 768px){
    width: 40px;
    height:40px;
  }
  &__icon{
    width: 30px;
    height: 30px;
    @media screen and (max-width: 768px){
      width: 20px;
      height: 20px;
    }
  }
}

.infoTextWrapper {
  position: relative;
  height: 25px;
  width: 100%;
  @media screen and (max-width: 768px) {
    height: 50px;
  }
}

.infoText, .warning {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hide {
  opacity: 0;
}
.infoText{
  color: #0056b3;
}

.warning{
  color: red;
}

@media screen and (max-width: 768px) {
  .container__header {
    font-size: 1.25rem;
  }



  .container__color {
    width: 40px;
    height: 25px;
  }

  .container__select {
    width: 100%;
  }

  .container__colorBox {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .container__header {
    font-size: 1.125rem;
  }


}